

* {
    font-family: Arial, Helvetica, sans-serif;
}


header div {
    border-left: solid thin lightgrey;
    border-right: solid thin lightgray;
}

div#firts {
    grid-area: f;
}

div#second {
    grid-area: s;
}

div.emblem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.g {
    background-color: black;
    color: white;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    border-radius: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: normal;
    font-size: 150%;
    margin: 0px 0.5em;
    padding: 0px;
}

main {
    grid-area: body;
    background-color: #e5ddd5;
    border-left: solid thin lightgrey;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgrey;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;   
    background-image: url(../img/chat-background.jpg);
    background-repeat: x-repeat;
    background-size: contain;
}

p {
    font-size: 90%;
}

p.me {
    background-color: #dcf8c6;
    max-width: 40%;
    padding: 0.25em 2em 0.25em 0.5em;
    margin: 0.25em 3em;
    border-radius: 5px;
}

p.git {
    background-color: #eeeeee;
    width: auto;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.25em 3em;
    border-radius: 5px;
    position: relative;
    left: -76%;
}

div#foot {
    background-color: #eeeeee;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: sticky */
}

div#textbar {
    width: 90%;
    height: 40px;
    border-radius: 30px;
    background-color: #ffffff;
    margin-right: 40px;

}

p#input {
    color: grey;
    /* padding: initial 0.5em; */
    margin: 0.8em 0.75em;
}

aside {
    grid-area: side;
    background: #ffffff;
    border-left: solid thin lightgrey;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgrey;
}

div#active {
    background-color: lightgray;
    height: 60px;
}

h2 {
    font-weight: normal;
    margin-left: 0.5em;
    font-size: 130%;
}

/* GRID */

header {
    grid-area: head;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'f s';    
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px auto;
    grid-template-areas:
    'head head'
    'side body';
}